@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "Inter";
}

/* Cores*/

:root{
    --branco: #FFFFFF;
    --azul-escuro-100: #609ED4;
    --azul-escuro-200: #356EA9;
    --azul-escuro-300: #0A3871;
    --azul-escuro-400: #072B61;
    --azul-claro-100:#F3F5FC;
    --azul-claro-200: #EFF1FA;
    --azul-claro-300:#E9ECF8;
    --azul-claro-400:#AAB2D5;
    --azul-claro-500:#757FB2;
    --cinza-100:#CED4DA;
    --cinza-200:#ADB5BD;
    --cinza-300:#868E96;
    --cinza-400:#868E96;
    --cinza-500: #343A40;
}
body{
    background-color:#F3F5FC;
}

main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

header{
    width: 10%;
    display: flex;
    justify-content: center;
}

.logo{
    width: 40px;
    height: 40px;
    margin-top: 2rem;
}

.digite-texto{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin: auto 0;
}

.digite-texto-input{
    margin-top: 3rem;
    border: none;
    outline: none;
    font-size: 2rem;
    color:#0A3871;
    background-color: transparent;
}

.digite-texto-input::placeholder{
    color:#0A3871;
}

.botoes{
    height: 3rem;
    display: flex;
    justify-content: space-between;   
}

.btn{
    width: 48%;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover{
    opacity: 70%;
}

.criptografar{
    background-color: #072B61;
    color: #FFFFFF;
}

.descriptografar{
    background-color: #d8d8d8;
    color: #0A3871;
}

.mensagem{
    width: 30%;
    height: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 1rem;
}

.garoto-lupa{
    width: 80%;
}

.aviso-titulo{
    font-size: 1.5rem;
    text-align: center;
    color: #343A40;
}

.mensagem-texto{
    text-align: center;
    color: #495057;
}

.mensagem-input{
    color: #495057;
}