@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    height: 100vh;
}

main{
    background-color:rgb(214, 241, 250);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    display: flex;
    justify-content: center;
    width: 120px;
    padding-top: 2.5rem;
}

.digite-texto{
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 3rem
}

.digite-texto input{
    width: 100%;
    height: 48px;
    font-family: "Inter",sans-serif;
    font-size: 32px;
    color: #0A3871;
    border: none;
    background: none;
    margin: none;
}

::placeholder{
    color: #0A3871;
}
.aviso-btn{
    width: 100%;
}
.aviso{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5rem;
}

.aviso .warn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aviso p{
    padding-left: 0.3rem;
    font-family: "Inter",sans-serif;
    font-size: 0.6rem;
}

.btn{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
}

.btn button{
    width: 328px;
    height: 68px;
    cursor: pointer;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 1.2rem;
    border: none;
}

.btn .cripto{
    background:#0A3871;
    color: #D8DFE8;
}

.btn .descript{
    background:#D8DFE8;
    color: #0A3871;
    margin-left: 1rem;
}

.mostrar-text{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mostrar-text .container{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
}

.mostrar-text .textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter",sans-serif;
}
.mostrar-text h2{
    color:#495057;
    font-family: "Inter",sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.mostrar-text .textos h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #495057;
}

.mostrar-text .textos p{
    text-align: center;
    color: #495057;
}
